
.vs/*

Piano/bin/Debug/netcoreapp3.1/MusicPlayer.deps.json


*.dll

*.exe

*.pdb

Piano/bin/Debug/netcoreapp3.1/MusicPlayer.runtimeconfig.dev.json

Piano/bin/Debug/netcoreapp3.1/MusicPlayer.runtimeconfig.json

Piano/bin/Debug/netcoreapp3.1/

Piano/obj/Debug/netcoreapp3.1/

Piano/obj/MusicPlayer.csproj.nuget.dgspec.json

Piano/obj/
